<footer class="footer bg-dark py-4 mt-auto">
<div class="container">
    <span class="text-secondary">&copy; Trần Thành Đạt | TAVN v1.0.1</span>
    
    <a class="d-inline" href="/">About me</a>
</div>

</footer>