<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TAVN - Trang Tra Cแปฉu Du Lแปch Hรng ฤแบงu Viแปt Nam</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/css/bootstrap.min.css"
        integrity="sha384-r4NyP46KrjDleawBgD5tp8Y7UzmLA05oM1iAEQ17CSuDqnUK2+k9luXQOfXJCJ4I" crossorigin="anonymous">
    <link rel="stylesheet" href="/stylesheets/home.css">
    <link rel="icon" type="image/svg+xml"
        href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 width=%22256%22 height=%22256%22 viewBox=%220 0 100 100%22><rect width=%22100%22 height=%22100%22 rx=%2220%22 fill=%22%2367f88d%22></rect><text x=%2250%%22 y=%2250%%22 dominant-baseline=%22central%22 text-anchor=%22middle%22 font-size=%2280%22>๐</text></svg>" />
</head>

<body class="d-flex text-center text-white bg-dark">
    <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
        <header class="mb-auto">
            <div>
                <h3 class="float-md-left mb-0">TAVN</h3>
                <nav class="nav nav-masthead justify-content-center float-md-right">
                    <a class="nav-link active" aria-current="page" href="#">Trang Chแปง</a>
                    <a class="nav-link " href="/places">ฤแปa ฤiแปm</a>
                    <% if(!currentUser) { %>
                        <a class="nav-link" href="/login">ฤฤng nhแบญp</a>
                        <a class="nav-link" href="/register">ฤฤng kรฝ</a>
                        <% } else { %>
                            <a class="nav-link" href="/logout">ฤฤng xuแบฅt</a>
                            <% } %>
                </nav>
            </div>
        </header>
        <main class="px-3">
            <h1>TAVN</h1>
            <p class="lead"> Bแบกn ฤang cแบงn mแปt nฦกi ฤแป ฤi du lแปch trong nฦฐแปc?    
            <br>Bแบกn lo lแบฏng vแป chแบฅt lฦฐแปฃng dแปch vแปฅ cแปงa khu du lแปch nรo ฤรณ, bแบกn muแปn biแบฟt ngฦฐแปi ฤi trฦฐแปc
                ฤรกnh giรก?</p>
            <a href="/places" class="btn btn-lg btn-secondary font-weight-bold border-white bg-white">Xem Ngay!
            </a>
        </main>

        <footer class="mt-auto text-white-50">
            <p>&copy; Trแบงn Thรnh ฤแบกt | 2023</p>
        </footer>


    </div>


    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
        integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/5.0.0-alpha1/js/bootstrap.min.js"
        integrity="sha384-oesi62hOLfzrys4LxRF63OJCXdXDipiYWBnvTl9Y9/TRlw5xlKIEHpNyvvDShgf/"
        crossorigin="anonymous"></script>
</body>

</html>